<?xml version="1.0" encoding="UTF-8"?>

   <!--
//
// ===================================================
// FlashQ by Christian Hackert and Gernot Braehler
// ===================================================
// Configuration file.
// @author		Christian Hackert <www.hackert.biz/flashq>
// @version		FlashQ version 1.0
// ===================================================
//
-->

   <config version="1.0" htmlParse="false">

      <!-- title of the study -->
      <item id="studyTitle">Peak Car</item>

      <!-- text-align property(left|right) -->
      <item id="textAlign">left</item>

      <!-- shuffle cards (true|false)  -->
      <item id="shuffleCards">true</item>

      <!-- login required (true|false) -->
      <item id="loginrequired">false</item>
      <!-- login with common password (leave blank if not required) -->
      <item id="loginPassword"></item>
      <!-- URL to individual login script(leave blank if not required) -->
      <item id="loginUrl"></item>
      <!-- request mode (post|get) -->
      <item id="loginUrlMethod"></item>

      <!-- activate/deactivate optional steps (true|false) -->
      <item id="showStep3">true</item>
      <item id="showStep4">true</item>
      <item id="showStep5">true</item>

      <!-- HtmlQ only: disable the in-window back button -->
      <item id="disableBackButton">true</item>

      <!-- define form elements for step5; only displayed if showStep5 is true (delete tags if not required) -->
      <!-- add label: <label>[STRING]</label> -->
      <!-- add note: <note>[STRING]</note> -->
      <!-- add input-field: <input type="[text|textarea|radio|select|checkbox|rating2|rating5|rating10]">[VALUE]</input> -->
      <!-- optional attributes: bg, id, maxlength, restricted, required, scale  -->
      <item id="form">
         <label>Age</label>
         <note>Please enter your year of birth (YYYY, eg. 1980).</note>
         <input type="text" required="true" maxlength="4" restricted="0-9"></input>

         <label>Level of education</label>
         <note>Please select your highest level of education (ongoing/completed).</note>
        <input type="select" required="true">High School; Bachelor; Master; PhD</input>

  	<label>Residence</label>
         <note>Please enter the name of the city/town/village that you belong to in The Netherlands or where you have lived the longest.</note>
         <input type="textarea" required="true"></input>

         <label>Gender</label>
         <note>Please select your gender.</note>
         <input type="radio" required="true">female;male</input>

         <label>Please answer the following questions.</label>
         <input type="rating2" required="true" scale="Yes;No;">There's a car in my household;I own a car for myself</input>

<label>Car Ownership</label>
         <note>Please select what applies.</note>
         <input type="radio" required="true">I currently own a car and would like to continue using one; I currently own a car but would not like to use one in the future; I do not own a car and do not think I will own one in the future; I do not own a car but would like to have one in the future.</input>

         <label>How often do you use the following modes of Transport</label>
         <note>Car</note>
        <input type="select" required="true"> 4 or more days per week; 1 to 3 days per week; 1 to 3 days per month; 6 to 11 days per year; Less than 1 day per year; Never </input>


      
         <note>Public Transport</note>
        <input type="select" required="true"> 4 or more days per week; 1 to 3 days per week; 1 to 3 days per month; 6 to 11 days per year; Less than 1 day per year; Never </input>


      
         <note> Bike </note>
        <input type="select" required="true"> 4 or more days per week; 1 to 3 days per week; 1 to 3 days per month; 6 to 11 days per year; Less than 1 day per year; Never </input>

     
         <note>Scooter</note>
        <input type="select" required="true"> 4 or more days per week; 1 to 3 days per week; 1 to 3 days per month; 6 to 11 days per year; Less than 1 day per year; Never </input>


         <note> Shared Bike</note>
        <input type="select" required="true"> 4 or more days per week; 1 to 3 days per week; 1 to 3 days per month; 6 to 11 days per year; Less than 1 day per year; Never </input>


         <note>Shared Car</note>
        <input type="select" required="true"> 4 or more days per week; 1 to 3 days per week; 1 to 3 days per month; 6 to 11 days per year; Less than 1 day per year; Never </input>


         <note>Shared Scooter</note>
        <input type="select" required="true"> 4 or more days per week; 1 to 3 days per week; 1 to 3 days per month; 6 to 11 days per year; Less than 1 day per year; Never </input>


         <note>Motorcycle</note>
        <input type="select" required="true"> 4 or more days per week; 1 to 3 days per week; 1 to 3 days per month; 6 to 11 days per year; Less than 1 day per year; Never </input>

     
         <note>Taxi</note>
        <input type="select" required="true"> 4 or more days per week; 1 to 3 days per week; 1 to 3 days per month; 6 to 11 days per year; Less than 1 day per year; Never </input>


         <label>What kind of transportation do you prefer?</label>
         <input type="select" required="true">Car;Public Transport;Bike;Scooter;Shared Bike; Shared Car;Shared Scooter;Motorcycle; Taxi</input>

         <label>Do you have any thoughts on the study or any perspective that you think was not included in the study? </label>
         <input type="textarea" required="true"></input>

         <note bg="false">All fields marked are mandatory.</note>
      </item>

      <!-- URL for data transmission via POST/GET (leave blank if not required) -->
      <item id="submitUrl">exe.php?do=save</item>

      <!-- request mode (post|get|firebase) -->
      <item id="submitUrlMethod">firebase</item>

      <!-- data transmission via email, user must have an e-mail program like Outlook (leave blank if not required) -->
      <item id="submitMail">yourdomain.com</item>
   </config>