<?xml version="1.0" encoding="UTF-8"?>

   <config version="1.0" htmlParse="false">

     <!-- title of the study -->
     <item id="studyTitle">Perspectieven op innovatiebeleid en quantumtechnologie</item>

     <!-- text-align property(left|right) -->
     <item id="textAlign">left</item>

     <!-- shuffle cards (true|false)  -->
     <item id="shuffleCards">true</item>

     <!-- login required (true|false) -->
     <item id="loginrequired">false</item>
     <!-- login with common password (leave blank if not required) -->
     <item id="loginPassword"></item>
    <item id="partNameRequired">true</item>
      <!-- URL to individual login script(leave blank if not required) -->
     <item id="loginUrl"></item>
     <!-- request mode (post|get) -->
     <item id="loginUrlMethod"></item>

     <item id="setConstantCardHeight">false</item>
     <item id="constantCardHeight">150</item>
     <item id="setConstantCardWidth">false</item>
     <item id="constantCardWidth">200</item>
     <!-- activate/deactivate optional steps (true|false) -->
     <item id="showStep3">true</item>
     <item id="showStep4">true</item>
     <item id="showStep5">true</item>

     <!-- HtmlQ only: disable the in-window back button -->
     <item id="disableBackButton">true</item>

     <!-- define form elements for step5; only displayed if showStep5 is true (delete tags if not required) -->
     <!-- add label: <label>[STRING]</label> -->
     <!-- add note: <note>[STRING]</note> -->
     <!-- add input-field: <input type="[text|textarea|radio|select|checkbox|rating2|rating5|rating10]">[VALUE]</input> -->
     <!-- optional attributes: bg, id, maxlength, restricted, required, scale  -->
     <item id="form">
	 
<label>Wat is uw naam:</label>
<input required="true" type="textarea"></input>

<label>Wat is uw voornaam:</label>
<input required="true" type="textarea"></input>

<label>Wat is uw e-mail adres:</label>
<input required="true" type="textarea"></input>

<label>Werkt u bij de overheid, in de wetenschap of een bedrijf? (meerdere antwoorden mogelijk)</label>
<input required="true" type="radio">Overheid;Wetenschap;Bedrijf</input>

<label>Bent u bekend met het wetenschappelijke werkveld rondom responsible research and innovation?</label>
<input required="true" type="radio">Ja;Nee</input>

<label>Bent u bekend met Quantum Delta?</label>
<input required="true" type="radio">Ja;Nee</input>

<label>Bent u bekend met Europese initiatieven op het gebied van quantum technologie?</label>
<input required="true" type="radio">Ja;Nee</input>

<label>Bent u bekend met de initiatieven van de Nederlandse rijksoverheid op het gebied van quantum technologie?</label>
<input required="true" type="radio">Ja;Nee</input>

<label>Wilt u geanonimiseerd de onderzoeksuitkomsten ontvangen?</label>
<input required="true" type="radio">Ja;Nee</input>

     </item>

     <!-- URL for data transmission via POST/GET (leave blank if not required) -->
     <item id="submitUrl">exe.php?do=save</item>
  
     <!-- request mode (post|get|firebase) -->
     <item id="submitUrlMethod">firebase</item>
  
     <!-- data transmission via email, user must have an e-mail programm like Outlook (leave blank if not required) -->
     <item id="submitMail">yourdomain.com</item>
   </config>